{% block head %}
<!DOCTYPE HTML>
<html lang = "en">
<head>

    <meta charset="utf-8" />
    <title> {% block title %}GameHub | Profile page{% endblock %}</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:type" content="company" />
    <meta property="og:title" content="Gamehub Theme | Homepage" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://datcouch.com" />
    <meta property="og:site_name" content="Revelio Theme | Homepage" />
    <link rel="shortcut icon" type="image/png" href="{{ asset("images/favicon.png")}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/dat-menu.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main-stylesheet.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Oswald:300,400,700|Source+Sans+Pro:300,400,600,700&amp;subset=latin,latin-ext" />
    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /* Man content & sidebar top lne, default #256193 */
        #sidebar .panel,
        #main-box #main {
            border-top: 5px solid #256193;
        }

        /* Slider colors, default #256193 */
        a.featured-select,
        #slider-info .padding-box ul li:before,
        .home-article.right ul li a:hover {
            background-color: #256193;
        }

        /* Button color, default #256193 */
        .panel-duel-voting .panel-duel-vote a {
            background-color: #256193;
        }

        /* Menu background color, default #000 */
        #menu-bottom.blurred #menu > .blur-before:after {
            background-color: #000;
        }

        /* Top menu background, default #0D0D0D */
        #header-top {
            background: #0D0D0D;
        }

        /* Sidebar panel titles color, default #333333 */
        #sidebar .panel > h2 {
            color: #333333;
        }

        /* Main titles color, default #353535 */
        #main h2 span {
            color: #353535;
        }

        /* Selection color, default #256193 */
        ::selection {
            background: #256193;
        }

        /* Links hover color, default #256193 */
        .article-icons a:hover,
        a:hover {
            color: #256193;
        }

        /* Image hover background, default #256193 */
        .article-image-out,
        .article-image {
            background: #256193;
        }

        /* Image hover icons color, default #256193 */
        span.article-image span .fa {
            color: #256193;
        }
    </style>
</head>
<body class="no-slider">
<!-- <body class="has-top-menu"> -->
<!-- BEGIN #slider-imgs -->
<div id="slider-imgs">
    <div class="featured-img-box">
        <div id="featured-img-1" class="featured-img"></div>
        <div id="featured-img-2" class="featured-img invisible"></div>
        <div id="featured-img-3" class="featured-img invisible"></div>
        <div id="featured-img-4" class="featured-img invisible"></div>
    </div>
    <!-- END #slider-imgs -->
</div>

<!-- BEGIN #top-layer -->
<div id="top-layer">

    <section id="content">
        <header id="header" class="needsmallpadding">
            <div id="menu-bottom">
                <!-- <nav id="menu" class="main-menu width-fluid"> -->
                <nav id="menu" class="main-menu">
                    <div class="blur-before"></div>
                    <a href="index.html" class="header-logo left"><img src="{{ asset('images/gamehub-icon.png') }}" height="68px" width="182px" class="logo" alt="GameHub" title="" /></a>
                    <a href="#dat-menu" class="datmenu-prompt"><i class="fa fa-bars"></i>Show menu</a>
                    <ul class="load-responsive" rel="Main menu">

                        <li><a href="calendar.html"><span><i class="fa fa-calendar-o"></i><strong>Schedule</strong></span></a>
                            <ul class="sub-menu">
                                <li><a href="calendar.html">Calendar</a></li>
                                <li><a href="events.html">Events List</a></li>
                                <li><a href="events-single.html">Event Single</a></li>
                            </ul>
                        </li>
                        <li><a href="shortcodes.html"><span><i class="fa fa-puzzle-piece"></i><strong>Features</strong></span></a>
                            <ul class="sub-menu">

                                <li><a href="games-single.html">Games detail page</a></li>

                            </ul>
                        </li>
                        <li><a href="forum.html"><span><i class="fa fa-comments-o"></i><strong>Forum layout</strong></span></a>
                            <ul class="sub-menu">
                                <li><a href="forum.html">Forums layout</a></li>
                                <li><a href="forum-threads.html">Forum threads list</a></li>
                                <li><a href="forum-single.html">Single forum topic</a></li>
                                <li><a href="forum-create.html">Create new topic</a></li>
                            </ul>
                        </li>
                        <li><a href="team.html"><span><i class="fa fa-users"></i><strong>Our Team</strong></span></a>
                            <ul class="sub-menu">
                                <li><a href="team.html">Team Members</a></li>
                                <li><a href="{{ path('afficheProfil') }}">Member profile</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-map-marker"></i><strong>Logout</strong></a></li>

                            </ul>
                        </li>
                        <!-- <li class="no-icon"><a href="#"><strong>Without icon</strong></a></li> -->
                    </ul>
                </nav>
            </div>
        </header>
        {% endblock %}
        <div id="main-box" class="full-width">

            <div id="main">

                <!-- BEGIN .user-profile -->
                <div class="user-profile">

                    <div class="profile-shadow"></div>

                    <!-- BEGIN .profile-left-side -->
                    {% block left %}
                        <div class="profile-left-side">

                            <div class="the-profile-top">
                                <div class="profile-user-name">
                                    <h1>{{ app.user.getPseudo }}</h1>
                                </div>


                                <div class="avatar online">
                                    <img src="{{ asset('images/photos/avatar-13.jpg') }}" class="setborder" alt="" />
                                </div>


                                <div>
                                    <ul class="user-button-list">
                                        <li><span class="info-msg"></span></li>
                                    </ul>



                                    <ul class="user-button-list">
                                    </ul>
                                </div>
                            </div>

                            <div class="the-profile-navi">
                                <ul class="profile-navi">
                                    <li><a href="#top"></span>Viewing <b>{{ app.user.getPseudo }}</b> profile<br />Back to top<span class="clear-float"></span></a></li>
                                    <li class="active"><a href="{{ path('AjoutProfil') }}"><i class="fa fa-globe"></i>Add Profile</a></li>
                                    <li><a href="{{ path('afficheProfil') }}"><i class="fa fa-comment-o"></i>View Profile</a></li>
                                    <li class="active"><a href="{{ path('AjoutProfil') }}"><i class="fa fa-globe"></i>Add Publications</a></li>
                                    <li><a href="user-single-comments.html"><i class="fa fa-comment"></i>View Publications</a></li>
                                </ul>


                            </div>


                            <!-- END .profile-left-side -->
                        </div>
                    {% endblock %}

                    {% block right %}
                        <!-- BEGIN .profile-right-side -->
                        <div class="profile-right-side">

                            <h2><span>Profile Gamer</span></h2>
                            <center>
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                            </center>
                        </div><!-- #respond -->

                    {% endblock %}
                    <!-- END .profile-right-side -->


                    <div class="clear-float"></div>

                    <!-- END .user-profile -->
                </div>

            </div>

            <div class="clear-float"></div>

        </div>
    </section>
</div>
</div>

<div class="clear-float"></div>

<div class="wrapper">
    <!-- BEGIN .footer -->
    <div class="footer">

        <div class="footer-top"></div>

        <div class="footer-content">



            <!-- BEGIN .panel -->
            <div class="panel">



                <!-- END .panel -->
            </div>

            <!-- BEGIN .panel -->

            <div class="panel">
                <h2>Contact Information</h2>
                <div class="panel-content">

                    <div>
                        <h4>What do we stand for ?</h4>
                        <p>GameHub est un site Web Developé par Symfony au cadre du Projet PiDev à ESPRIT .</p>

                        <a href="mailto:revelio@oursite.com" class="icon-line">
                            <i class="fa fa-comment"></i><span>GameHub@esprit.tn</span>
                        </a>

                        <span class="icon-line">
									<i class="fa fa-map-marker"></i><span>Esprit GhaZZella</span>
								</span>

                    </div>

                </div>
                <!-- END .panel -->
            </div>

            <!-- BEGIN .panel -->
            <div class="panel">

                <!-- END .panel -->
            </div>


        </div>

        <div class="footer-bottom">
            <div class="left">&copy; Copyright 2015 <strong>GameHub</strong> designed by <strong>SlashETC</strong></div>

            <div class="clear-float"></div>
        </div>

        <!-- END .footer -->
    </div>

</div>
<script type='text/javascript' src='{{ asset('jscript/jquery-1.11.2.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('jscript/modernizr.custom.50878.js') }}'></script>
<script type='text/javascript' src='{{ asset('jscript/iscroll.js')}}'></script>
<script type='text/javascript' src='{{ asset('jscript/dat-menu.js')}}'></script>
<script type='text/javascript'>
    var strike_autostart = false;
</script>
<script type='text/javascript' src='{{ asset('jscript/theme-script.js')}}'></script>
</body>
</html>